<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoryName }}</ion-title>
  </ion-toolbar>
</ion-header>

@if (!loading) {
  <ion-content>
    @if (products.length > 0) {
      <ion-grid>
        <ion-row>
          @for (product of products; track product.id) {
            <ion-col size="6">
              <ion-card class="product-card">
                <img [src]="product.imageUrl || 'assets/img-placeholder.png'" alt="{{ product.name }}" />

                <ion-card-content>
                  <h2>{{ product.name }}</h2>
                  <p class="price">{{ product.price | number: '1.2-2' }} DT</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    } @else {
      <div class="empty">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>Aucun produit trouvé pour cette catégorie.</p>
      </div>
    }
  </ion-content>
} @else {
  <div class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
}