<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-container">
      <!-- Logo -->
      <ion-title class="logo">E-Shop</ion-title>

      <!-- Barre de recherche -->
      <ion-searchbar
        placeholder="Rechercher un produit..."
        debounce="150"
        (ionInput)="onSearch($event)"
        class="search-bar"
      ></ion-searchbar>

      <!-- Icônes à droite -->
      <div class="header-icons">
        <!--  Panier -->
        <ion-button routerLink="/client/cart" fill="clear" class="cart-button">
          <ion-icon name="cart-outline"></ion-icon>
          @if (cartCount > 0) {
            <ion-badge class="cart-badge">{{ cartCount }}</ion-badge>
          }
        </ion-button>

        <!-- Gestion connexion -->
        @if (isLoggedIn) {
          <!-- Profil -->
          <ion-button routerLink="/client/orders" fill="clear">
            <ion-icon name="card-outline"></ion-icon>
          </ion-button>

          <!-- Déconnexion -->
          <ion-button fill="clear" color="danger" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        } @else {
  <!-- Connexion -->
  <ion-button fill="clear" routerLink="/login">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
}

      </div>
    </div>
  </ion-toolbar>
</ion-header>


<!-- Contenu principal -->
<ion-content class="home-content">
  @for (cat of categories; track cat.slug) {
    <div class="section">
      <div class="section-header">
        <h2>{{ cat.name }}</h2>
      </div>

      @if (filteredProductsByCategory[cat.slug]?.length) {
        <div class="products-row">
          @for (p of filteredProductsByCategory[cat.slug]; track p.id) {
            <div class="product-card" (click)="goToDetails(p)">
              <img [src]="p.imageUrl || 'assets/img-placeholder.png'" alt="{{ p.name }}" />
              <p class="name">{{ p.name }}</p>
              <p class="price">{{ p.price }} DT</p>
            </div>
          }
        </div>
      } @else {
        <p class="no-products">Aucun produit trouvé dans cette catégorie</p>
      }
    </div>
  }
</ion-content>